.container {
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
}

* {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
}

/* --------- HEADER --------- */

/* Header Menu */

.header {
    width: 100%;
    height: 1012px;
    border-top: #9e9e9b solid 5px;
    border-bottom: #ffffff solid 8px;
    background: center / cover url("../img/Backgrounds/section-1\(header\).jpg") no-repeat fixed;
}

.header__menu {
    height: 120px;
    display: flex;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.header__menu .container {
    width: 100%;
}

.header__menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logotype,
.logotype_h {
    display: flex;
    align-items: center;
}

.logotype_h {
    height: 67px;
    width: 58px;
    background: center / cover url("../img/icons/Polygon.png") no-repeat;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.logotype_the,
.logotype_ham {
    font-size: 32px;
    line-height: 1.5;
}

.logotype_the {
    margin-left: 6px;
    font-weight: 400;
    color: #FFFFFF;
}

.logotype_ham {
    font-weight: 700;
    color: #18CFAB;
}

.header__navigation,
.header__menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    width: 657px;
}

.header__menu__list {
    width: 615px;
}

.header__menu__item {
    position: relative;
}

.header__menu__item::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #18CFAB;
    bottom: -48px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: center;
}

.header__menu__item:hover::after {
    transform: scaleX(1);
}

.header__menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.header__menu__link:hover {
    color: #18CFAB;
}

.header__search_icon {
    height: 20px;
}

/* Header Content */

.header__content {
    text-align: center;
}

.header__top_subtitle {
    margin-top: 260px;
    margin-bottom: 9px;
}

.header__top_subtitle span{
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.header__top_subtitle__white {
    color: #FFFFFF;
}

.header__top_subtitle__green {
    color: #18CFAB;
}

.header__title {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.header__bottom_subtitle {
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 132px;
}

.header__buttons {
    width: 362px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* --------- MAIN --------- */

.button {
    height: 60px;
    width: 166px;
    background: #18CFAB;
    border-radius: 4px;
    font-weight: 700;
    font-size: 15px;
    line-height: 2.12;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0 -5px #ffffff;
}

.button_blue {
    background: #00CBF6;
}

.h3__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.11;
    color: #4E4E4E;
}

.double_lines {
    width: 88px;
    height: 5px;
    position: relative;
    margin: 0 auto;
}

.double_lines::before,
.double_lines::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 76px;
    background: #18CFAB;
}

.double_lines::after {
    right: 0px;
    bottom: 0px;
}

/* Advantages */

.advantages__list {
    height: 370px;
    display: flex;
}

.advantages__item:nth-child(odd) {
    background: #1C2A33;
}

.advantages__item:nth-child(odd) .advantages__title {
    margin-top: 49px;
    color: #18CFAB;
}

.advantages__item:nth-child(even) {
    background: #18CFAB;
}

.advantages__item:nth-child(even) .advantages__title {
    margin-top: 59px;
    color: #FFFFFF;
}

.advantages__item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.advantages__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 103px;
}

/* Our services */

.services {
    padding-top: 92px;
    height: 558px;
    background: #FFFFFF;
}

.services .h3__title {
    margin-bottom: 26px;
}

.services__tabs {
    margin-top: 69px;
}

.services__tabs__titles {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;
}

.services__tabs__title {
    box-sizing: border-box;
    position: relative;
    width: 193px;
    height: 72px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FCFE;
    border-top: 1px solid #EDEFEF;
    border-bottom: 1px solid #EDEFEF;
    border-right: 1px solid #EDEFEF;
    border-left: 1px solid #F8FCFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.44;
    color: #717171;
    transition: 0.3s;
    cursor: pointer;
}

.services__tabs__title:first-child {
    border-left: 1px solid #EDEFEF;
    padding-left: 0px;
}

.services__tabs__title::after {
    transition: 0.3s;
    content: "";
    position: absolute;
    display: block;
    height: 13px;
    width: 26px;
    background: url(../img/icons/Rectangle.svg);
    bottom: -12px;
    opacity: 0;
}

.services__tabs__title:hover {
    border: #18CFAB solid 2px;
}

.services__active__tab {
    position: relative;
    background: #18CFAB;
    border: #18CFAB solid 1px;
    color: #FFFFFF;
}

.services__active__tab::after {
    opacity: 1;
}

.services__content__img {
    width: 193px;
}

.services__content__text {
    margin-left: 15px;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.79;
    color: #777777;
}

/* Tagline */

.tagline {
    height: 477px;
    background: center / cover url("../img/Backgrounds/section-2.jpg") no-repeat;
}

.tagline__background {
    height: 477px;
    background: rgba(0, 0, 0, 0.75);
}

.tagline .container {
    padding-top: 127px;
}

.tagline__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 13px;
}

.tagline__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #D8D8D8;
    margin-bottom: 65px;
}

/* Our Amazing Work */

.our_work {
    height: 1212px;
    padding-top: 95px;
    background: #e9edef;
}

.our_work .h3__title {
    margin-bottom: 22px;
}

.our_work .double_lines {
    margin-bottom: 70px;
}
s
.our_work__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_work__titles {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.our_work__tabs__title {
    box-sizing: border-box;
    height: 58px;
    padding-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9edef;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #e9edef;
    font-weight: 400;
    font-size: 14px;
    line-height: 3;
    color: #717171;
    transition: 0.3s;
    cursor: pointer;
}

.our_work__tabs__title:nth-child(1) {
    border-left: 1px solid #DADADA;
    padding-left: 0px;
    width: 77px;
}

.our_work__tabs__title:nth-child(2) {
    width: 143px;
}
.our_work__tabs__title:nth-child(3) {
    width: 117px;
}
.our_work__tabs__title:nth-child(4) {
    width: 137px;
}
.our_work__tabs__title:nth-child(5) {
    width: 106px;
}

.our_work__tabs .our_work__active__tab {
    border: #18CFAB solid 2px;
    color: #18CFAB;
}

.our_work__tabs__gallery {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 206px);
    margin-bottom: 70px;
    gap: 0px; 
}

.our_work__gallery__item {
    position: relative;
    height: 206px;
    width: 285px;
}

.our_work__gallery__img {
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.our_work__gallery__caption {
    position: absolute;
    top: 0px;
    z-index: 2;
    background: #E9EDEF;
    height: 206px;
    width: 285px;
    text-align: center;
    border-top: 3px solid #18CFAB;
    opacity: 0;
    transition: opacity 0.2s;
}
.our_work__gallery__item:hover .our_work__gallery__caption {
    opacity: 1;
}

.our_work__gallery__hrefs_container {
    margin: 42px auto 25px auto;
    width: 85px;
    display: flex;
    justify-content: space-between;
}

.gallery__caption__round {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__caption__href {
    background: #E9EDEF;
}

.gallery__caption__square {
    background: #18CFAB;
}

.gallery__caption__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.78;
    text-transform: uppercase;
    color: #18CFAB;
}

.gallery__caption__category {
    font-weight: 300;
    font-size: 12px;
    line-height: 2.07;
    color: #8A8A8A;
}

.our_work #addImgs {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_work #addImgs span {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    margin-left: 15px;
}

.gallery__loading-animation {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #555;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Breaking News */

.breaking_news {
    height: 958px;
    background: #FFFFFF;
    padding-top: 82px;
}

.breaking_news .h3__title {
    margin-bottom: 26px;
}

.breaking_news .double_lines {
    margin-bottom: 70px;
}

.breaking_news__cards {
    display: grid;
    gap: 45px 36px;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 280px);
}

.breaking_news__card {
    width: 263px;
    height: 280px;
    text-align: left;
}

.breaking_news__card__img_block {
    width: 263px;
    height: 208px;
    display: block;
    position: relative;
}

.breaking_news__card__date {
    position: absolute;
    right: 0px;
    width: 68px;
    height: 66px;
    background: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.breaking_news__card:hover .breaking_news__card__date {
    background: #18CFAB;
}

.breaking_news__card__date span {
    font-size: 16px;
    line-height: 1.56;
    color: #FFFFFF;
}

.breaking_news__card__img {
    width: 100%;
}

.breaking_news__card__title {
    padding-left: 21px;
    margin-top: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.16;
    color: #717171;
    transition: 0.5s;
}

.breaking_news__card:hover .breaking_news__card__title {
    color: #18CFAB;
}

.breaking_news__card__sub_title {
    padding-left: 21px;
    font-weight: 300;
    font-size: 14px;
    line-height: 2.78;
    color: #777777;
}

.breaking_news__card__sub_title .delimiter {
    padding: 0px 12px;
}

/* What People Say About the Ham */

.people_say {
    height: 853px;
    background: center / cover url(../img/Backgrounds/section-3.jpg) no-repeat;
    padding-top: 98px;
}

.people_say .h3__title {
    color: #FFFFFF;
    margin-bottom: 29px;
}

.people_say .double_lines {
    margin-bottom: 69px;
}

.people_say__shape_icon {
    margin-bottom: 37px;
}

.people_say__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.88;
    color: #BBBBBB;
    margin-bottom: 37px;
}

.people_say__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.69;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 5px;
}

.people_say__post {
    font-weight: 300;
    font-size: 13px;
    line-height: 2.08;
    color: #BBBBBB;
}

.people_say__img {
    margin: 39px auto 0;
    display: block;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    border: 11px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 57px;
}

.people_say__carousel {
    margin: 0 auto;
    width: 483px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people_say__carousel__arrow {
    position: relative;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.people_say__carousel__arrow:hover {
    background: #18CFAB;
    border: 1px solid #18CFAB;
}

.people_say__carousel__arrow svg path {
    fill: #BBBBBB;
    transition: 0.5s;
}

.people_say__carousel__arrow:hover svg path {
    fill: #FFFFFF;
}

.arrow__left svg {
    margin-right: 3px;
}

.arrow__right svg {
    margin-left: 3px;
}

.people_say__carousel__img {
    display: block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 4px solid rgba(31, 218, 181, 0.2);
    cursor: pointer;
    transition: 0.5s;
    transition: transform 0.5s;
}

/* Footer */

.footer {
    height: 119px;
    background: #22353F;
    padding-top: 46px;
}

.footer__copyright {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.86;
    color: #AEAEAE;
}

.footer__copyright__color {
    color: #18CFAB;
}
